<nav>
  <div>
    <li><%= link_to 'EXTREME INVOICING', root_path %><li>
    <li><%= link_to 'Create invoice'%><li>
    <li><%= link_to 'Sign up'%><li>
    <li><%= link_to 'Log in'%><li>
  </div>
</nav>